SQL.json
{
  "name": "SQL",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -380,
        -60
      ],
      "id": "e15bdc31-9019-45e8-9dde-9fd94cf57843",
      "name": "When chat message received",
      "webhookId": "9df9f355-fecf-4c38-9176-231c494deb65"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -140,
        160
      ],
      "id": "b8a2a409-cdf1-4deb-80ef-0f742c00d696",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gikdAeSlEbbr8Yye",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        40,
        160
      ],
      "id": "671c9c19-562c-443a-9b81-dc5ff2f4303a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "TFv2usAhyVqLs8bc",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu tarea es generar una consulta SQL basada en la intención del usuario. Devuelve SOLO la consulta SQL en texto plano. Ejemplo: SELECT COUNT(*) FROM clientes.\nSegun estas instrucciones sacame una query sobre esto: {{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -60,
        -60
      ],
      "id": "aa243b06-eb2d-4a12-898a-69687025a0f8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        200,
        160
      ],
      "id": "47b16fde-06dd-443c-b558-3ae83568e937",
      "name": "Postgres1",
      "credentials": {
        "postgres": {
          "id": "TFv2usAhyVqLs8bc",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Postgres1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e9fbaa20-e1ce-41f7-893f-8b2e42eb319b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "8DFnOO5HB04aeoD5",
  "tags": []
}